.texto {
    display: block;
    padding: 15px;
    font-family: "Monotype Corsiva", "Lucida Handwriting", cursive;
    color: black;
    font-weight: 800;
    text-align: justify;
    font-size: 1.5em;
    animation: aparecer 3s ease forwards;
    opacity: 0;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(-1000px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
