.display_none {
  display: none;
}

.main {
  display: grid;
  grid-template-rows: 0.001% 99.999%;
}

.firts {
  display: grid;
  height: 97vh;
  grid-row: 2;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(/src/assets/fotoCasal/casal.jpeg);
  background-position: center;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}

.firts2 {
  display: grid;
  height: 100%;
  grid-row: 2;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(/src/assets/fotoCasal/casal.jpeg);
  background-position: center;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
}

.firts__carta {
  grid-row: 3;
}

.secound {
  height: 100%;
  background-image: url(/src/assets/backgroundCarta/backgroundCarta.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 0.8;
}